:root {
  --mainColor: #160f0a;
  --lightColor: #dadada;
  --borderInputColor: #c0c0c0;

  --btnColor: #489c81;
  --inputError: #e21515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: var(--mainColor);
}

ul {
  list-style: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/bg.svg);
  min-height: 100vh;
}

.logo--heading {
  margin: 3.5rem auto 3rem auto;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--btnColor);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
.picture__travel {
  display: none;
}

.order__field {
  display: flex;
  flex-direction: column;
}

.order__field-name {
  display: flex;
  flex-direction: column;
}

.order__field-name {
  display: flex;
  flex-direction: column;
  width: 75vw;
  max-width: 500px;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.order__field-input {
  border: 1px solid var(--borderInputColor);
  border-radius: 3px;
  height: 3rem;
  font-size: 1.2rem;

  padding: 5px;
  outline: none;
}

.order__field-submit {
  margin-top: 1rem;
  width: 100%;
  max-width: 500px;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--btnColor);
  color: #fff;
  font-weight: 300;
  transition: 0.1s linear;
}
.order__field-submit:hover {
  cursor: pointer;
  outline-offset: -1px;
  outline: 2px solid var(--btnColor);
  color: var(--btnColor);
  background-color: #fff;
}

textarea:focus,
input:focus {
  outline-offset: -1px;
  outline: 2px solid var(--btnColor);
}

.order__basket {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.basket__text,
.excursions__header-top-title {
  color: var(--mainColor);
  font-weight: 600;
  font-size: 1.3rem;
}

.summary__btn-remove {
  color: var(--btnColor);
}

.order__total-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--mainColor);
  margin: 0.5rem 0 1rem 0;
}

.order__total-price-value {
  font-weight: 600;
}

.summary__item {
  font-size: 1.3rem;
  border-bottom: 1px solid var(--btnColor);
  margin-top: 1rem;
}

.summary__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.summary__prices {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.panel__excursions {
  width: 75vw;
  font-size: 1.3rem;
  list-style: none;
  max-width: 500px;
}

.excursions__item {
  margin: 2rem 0 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--lightColor);
}

.excursions__header-top {
  margin: 3.5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

.excursions__field-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.excursions__field-input {
  border: 1px solid var(--borderInputColor);
  border-radius: 3px;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  margin: 0.5rem 0;
}

.excursions__field-input--error {
  outline-offset: -2px;
  outline: 2px solid var(--inputError);
}

.excursions__field--submit {
  display: flex;
  justify-content: center;
}
.excursions__field-input--submit {
  margin-top: 1rem;
  width: 100%;
  max-width: 200px;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--btnColor);
  color: #fff;
  font-weight: 300;
  transition: 0.1s linear;
}
.excursions__field-input--submit:hover {
  cursor: pointer;
  outline-offset: -1px;
  outline: 2px solid var(--btnColor);
  color: var(--btnColor);
  background-color: #fff;
}

.excursions__item--prototype,
.summary__item--prototype {
  display: none;
}

@media (min-width: 992px) {
  body {
    display: flex;
  }
  .content-wrapper {
    width: 50vw;
    padding: 1rem;
    margin: 0 3rem;
  }
  .logo--heading {
    margin-top: 7rem;
    font-size: 3rem;
  }

  .picture__travel {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  .travel__img {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
  }
}
